@model IEnumerable<BoatReviews.Models.Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Categories</title>
    <link href="~/Main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
    <div class="wrapper">
        <header>
            <nav>
                <div class="nav-icon">
                    <i class=" fa fa-bars fa-2x"></i>
                </div>
                <div class="logo">Boat Reviews</div>
                <div class="menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="~/boat#allBoats">All Boats</a></li>
                        <li><a href="~/category">Boat Categories</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </nav>
            <div class="boat icon">
                <img:
            </div>
        </header>
        <div class="main">
            @*<h1>Howdy, Joe!</h1>
            <h1>Howdy, Joe!</h1>
            <h1>Howdy, Joe!</h1>
            <h1>Howdy, Joe!</h1>
            <h1>Howdy, Joe!</h1>*@
            @foreach (var category in Model)
            {
                <div class="row">
                    <img src="@category.CategoryImageLocation" height="100" />
                    <h2>@category.CategoryName</h2>
                    <p>@category.CategoryContent</p>
                </div>
            }

            <script type="text/javascript">

                //Menu toggle-effect
                $(document).ready(function () {
                    $(".menu-icon").on("click", function () {
                        $("nav ul").toggleClass("showing");
                    });
                });

                //Scrolling Effect
                $(window).on('scroll', function () {
                    if ($(window).scrollTop()) {
                        $('nav').addClass('black');
                    }
                    else {
                        $('nav').removeClass('black')
                    }
                })
            </script>
        </div>
    </div>
</body>
</html>
