@model BoatReviews.Models.Boat
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/Main.css" rel="stylesheet" />
</head>
<body>
    <h1>@Model.Name's Details</h1>
    <p>stuff goes here</p>
    <a href="/Boat">Back to list</a>
</body>
</html>
