@model IEnumerable<BoatReviews.Models.Boat>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="bg-img"></div>
        <nav class="navbar">
        </nav>
        <div class="header">
            <h1>Motorboat Reviews</h1>
        </div>
        <div class="subheader">
            <h2>
                Which boat would you like to review?
            </h2>
        </div>
        <div>     
            <ul class="nobull">
                @foreach (var boat in Model)
                {
                    <li>
                        <img src="@boat.ImageLocation" />
                        <div class="boatLinks">
                            <a href="/Boat/Details/@boat.Id">@boat.Name</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</body>
</html>
