@model IEnumerable<BoatReviews.Models.Boat>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript"></script>
</head>
<body>
    <div class="wrapper-2">
        <header>
            <nav>
                <div class="logo">Boat Reviews</div>
                <div class="menu">
                    <ul>
                        <li><a href="/category">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="/boat">All Boats</a></li>
                        <li><a href="/category">Boat Categories</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="/boat/create">Review a Boat</a></li>
                    </ul>
                </div>
            </nav>
            <div class="info-title">
                <h2>Click On A Boat Below To Read A Review</h2>
            </div>
        </header>        
        <div class="all-boats">
            <div class="all-boats2"> 
                <div class="all-boats-list">
                    @foreach (var boat in Model)
                    {
                        <img src="@boat.ImageLocation"/>
                    }
                </div>
                <div class="all-boats-links">
                    @foreach (var boat in Model)
                    {
                        <h3><a href="/Boat/Details/@boat.Id">@boat.Name</a></h3>
                    }
                </div>
                    @*<p><a href="/Boat">Back to list</a></p>*@
            </div>

            <script type="text/javascript">
                //Menu toggle-effect
                $(document).ready(function () {
                $(".menu-icon").on("click", function () {
                $("nav ul").toggleClass("showing");
                });
                });

                //Scrolling Effect
                $(window).on('scroll', function () {
                if ($(window).scrollTop()) {
                $('nav').addClass('black');
                }
                else {
                $('nav').removeClass('black')
                }
                })
            </script>
        </div>
    </div>
</body>
</html>

