@model IEnumerable<BoatReviews.Models.Boat>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Main.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar">
    </nav>

    <div class="background">


        <div class="header">
            <h1>Boat Reviews</h1>
        </div>

        <div class="main">
            <h2>
                Which type of boat would you like to review?

            </h2>
            <ol>
                @foreach (var boat in Model)
                {
                    <li><img src="@boat.ImageLocation" /><a href="/Boat/Details/@boat.Id">@boat.Name</a></li>
                }
            </ol>
        </div>
    </div>
</body>
</html>
