
body {
    width: 100%;
    min-width: 25%;
    font: 'Great Vibes';
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
    text-align: center;
    height: 100vh;
}

header {
    width: 100%;
    height: 10vh;
}

.header-2 {
    background-color: rgba(158, 246, 211, 0.2);
    text-align: center;
    height: 10vh;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.wrapper-1 {
    background: url(Img/WallPaper.jpg) no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}

.wrapper-2 {
    background: url(Img/HdFence.jpg) no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100vh;
    opacity: .8;
}

.logo {
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: navy;
    font-weight: bold;
    font-size: 24px;
    font: 'Pacifico';
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

.nav {
    position: fixed;
    width: 100%;
}

nav ul {
    list-style: none;
    background: rgba(0,0,0,0);
    overflow: hidden;
    color: rgba(34, 66, 32, 0.41);
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

nav.black ul {
    background: #808080;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;

}

@media(max-width:580px) {
    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul {
        max-height: 0px;
        background: rgba(19, 9, 251, 0.71);
    }

    nav.black ul {
        color: deepskyblue;
    }

    .showing {
        max-height: 20em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }
}

.row {
    margin: 0 auto;
    width: 80%;
    height: 50vh;
    text-align: center;
}

.column {
    width: 25%;
    height: 40%;
    margin-left: 45px;
    margin-top: 25vh;
    padding: 5px;
    float: left;
    display: inline-block;
}

.column a {
    width: 35%;
    height: 30%;
    align-content: center;
    text-decoration: none;
        color: white;
        font-weight: bold;
    text-decoration: underline;
        text-decoration-color: white;
        cursor: pointer; 
 }

.category-main {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 0;
    bottom: 20px;
    right: 0;
    left: 0;
}

.category-header {
    text-align: center;
    color: white;
    height: 30vh;
    width: 90%;
    position: fixed;
  right: 50px; 
  left: 50px;
  z-index: 3;

}

.category-info {
    /*display: flex;
    flex-direction: column;*/
    height: 80vh;
    background-color: black;
    box-sizing: border-box;
    /*position: relative;*/
    background: white;
    background-image: linear-gradient(top right, #5D5D5B, #383838);
    padding: 7px;
    position: fixed;
    /*margin: auto;*/
    /*top: 0*/;
    right: 50px;
    bottom: 10px;
    left: 50px;
    width: 90%;
    box-shadow: -1px 1px var(--blur) 1px rgba(0,0,0,0.10), -2px 2px var(--blur) 1px rgba(0,0,0,0.09), -3px 3px var(--blur) 1px rgba(0,0,0,0.08), -4px 4px var(--blur) 1px rgba(0,0,0,0.07), -5px 5px var(--blur) 1px rgba(0,0,0,0.06), -6px 6px var(--blur) 1px rgba(0,0,0,0.05), -7px 7px var(--blur) 1px rgba(0,0,0,0.04), -8px 8px var(--blur) 1px rgba(0,0,0,0.03), -9px 9px var(--blur) 1px rgba(0,0,0,0.03), -10px 10px var(--blur) 1px rgba(0,0,0,0.03), -11px 11px var(--blur) 1px rgba(0,0,0,0.03), -12px 12px var(--blur) 1px rgba(0,0,0,0.02), -13px 13px var(--blur) 1px rgba(0,0,0,0.02), -14px 14px var(--blur) 1px rgba(0,0,0,0.01), -15px 15px var(--blur) 1px rgba(0,0,0,0.01), -16px 16px var(--blur) 1px rgba(0,0,0,0.01);
}

    .category-info:before {
        content: ' ';
        display: block;
        padding-bottom: 140%;
    }

.category-info2 {
    left: 3%;
    top: 2.5%;
    box-shadow: inset -1px 1px 6px 1px rgba(0,0,0,.24);
    width: 95%;
    height: 95%;
    background: black;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 18px;
    box-sizing: border-box;
    position: absolute;
}

.boat-details {
    display: flex;
    flex-direction: row;
    height: 60vh;
    justify-content: space-around;
    background-color: black;
    box-sizing: border-box;
    position: relative;
    background: white;
    background-image: linear-gradient(top right, #5D5D5B, #383838);
    padding: 7px;
    position: absolute;
    margin: auto;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 90%;
    box-shadow: -1px 1px var(--blur) 1px rgba(0,0,0,0.10), -2px 2px var(--blur) 1px rgba(0,0,0,0.09), -3px 3px var(--blur) 1px rgba(0,0,0,0.08), -4px 4px var(--blur) 1px rgba(0,0,0,0.07), -5px 5px var(--blur) 1px rgba(0,0,0,0.06), -6px 6px var(--blur) 1px rgba(0,0,0,0.05), -7px 7px var(--blur) 1px rgba(0,0,0,0.04), -8px 8px var(--blur) 1px rgba(0,0,0,0.03), -9px 9px var(--blur) 1px rgba(0,0,0,0.03), -10px 10px var(--blur) 1px rgba(0,0,0,0.03), -11px 11px var(--blur) 1px rgba(0,0,0,0.03), -12px 12px var(--blur) 1px rgba(0,0,0,0.02), -13px 13px var(--blur) 1px rgba(0,0,0,0.02), -14px 14px var(--blur) 1px rgba(0,0,0,0.01), -15px 15px var(--blur) 1px rgba(0,0,0,0.01), -16px 16px var(--blur) 1px rgba(0,0,0,0.01);
}

    .boat-details:before {
        content: ' ';
        display: block;
        padding-bottom: 140%;
    }

.boat-details2 {
    left: 3%;
    top: 2.5%;
    box-shadow: inset -1px 1px 6px 1px rgba(0,0,0,.24);
    width: 95%;
    height: 95%;
    background: black;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 18px;
    box-sizing: border-box;
    position: absolute;
}

.boat-preview {
    width: 40%;
    height: 75%;
}

    .boat-preview img {
        box-shadow: inset 0 0 1px 0 rgba(0,0,0,.2);
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
    }

.boat-info {
    width: 45%;
    height: 100%;
    text-align: left;
    color: white;
    box-shadow: inset 0 0 1px 0 rgba(0,0,0,.2);
    background-size: cover;
    background-position: center center;
}

    .boat-info a {
        align-content: flex-end;
        text-decoration: none;
        color: whitesmoke;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: white;
        cursor: pointer;
        padding: 2px;
    }


.info-title {
    height: 10%;
    text-align: center;
    color: black;
}

.all-boats {
    display: flex;
    flex-direction: row;
    height: 80vh;
    justify-content: space-around;
    background-color: black;
    box-sizing: border-box;
    position: relative;
    background: white;
    background-image: linear-gradient(top right, #5D5D5B, #383838);
    padding: 7px;
    position: absolute;
    margin: auto;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 95%;
    box-shadow: -1px 1px var(--blur) 1px rgba(0,0,0,0.10), -2px 2px var(--blur) 1px rgba(0,0,0,0.09), -3px 3px var(--blur) 1px rgba(0,0,0,0.08), -4px 4px var(--blur) 1px rgba(0,0,0,0.07), -5px 5px var(--blur) 1px rgba(0,0,0,0.06), -6px 6px var(--blur) 1px rgba(0,0,0,0.05), -7px 7px var(--blur) 1px rgba(0,0,0,0.04), -8px 8px var(--blur) 1px rgba(0,0,0,0.03), -9px 9px var(--blur) 1px rgba(0,0,0,0.03), -10px 10px var(--blur) 1px rgba(0,0,0,0.03), -11px 11px var(--blur) 1px rgba(0,0,0,0.03), -12px 12px var(--blur) 1px rgba(0,0,0,0.02), -13px 13px var(--blur) 1px rgba(0,0,0,0.02), -14px 14px var(--blur) 1px rgba(0,0,0,0.01), -15px 15px var(--blur) 1px rgba(0,0,0,0.01), -16px 16px var(--blur) 1px rgba(0,0,0,0.01);
}

    .all-boats:before {
        content: ' ';
        display: block;
        /*padding-bottom: 140%;*/
    }

.all-boats2 {
    left: 3%;
    top: 2.5%;
    box-shadow: inset -1px 1px 6px 1px rgba(0,0,0,.24);
    width: 100%;
    height: 100%;
    background: black;
    /*padding: 2px;*/
    box-sizing: border-box;
    position: absolute;
}

.boat-info2 a {
    color: lightblue;
    padding: 0px 10px;
}

#boatGallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 8vw);
    grid-gap: 2rem;
    width: 100%;
    height: 90%;
}

.container h4 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: white;
}

.container h4 a {
    color: white;
}

.grid-item, img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


.user-reviews-form {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 100%;
    padding: 30px;
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    font-family: "Roboto", sans serif;
    font-size: 25px;
    color: black;
}

    .user-reviews-form img {
        margin-left: 50px;
        width: 400px;
        height: 275px;
    }

textarea {
    background: rgba(255, 255, 255, 0.4) no-repeat scroll 16px 16px;
    width: 300px;
    height: 75px;
    border: 1px solid rgba(255,255,255,.6);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-left: 45px;
    padding-right: 20px;
    padding-top: 12px;
    margin-bottom: 20px;
    overflow: hidden;
}

input {
    width: 30px;
    height: 25px;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
}

    input[type="radio"] + label::before {
        border-radius: 50px;
        height: 10px;
        width: 10px;
        font-family: "Roboto", sans serif;
        font-weight: bold;
    }
    /* Checked */
    input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label {
        padding-left: 10px;
        color: #fff;
        text-transform: uppercase;
    }

        input[type="checkbox"]:checked + label::before,
        input[type="radio"]:checked + label::before {
            top: 0;
            width: 100%;
            height: 100%;
            background: #8e44ad;
        }
/* Transition */
label,
label::before {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    font-family: "Roboto", sans serif;
}

input[type=submit] {
    cursor: pointer;
}

input.name {
    background: rgba(255, 255, 255, 0.4) no-repeat scroll 16px 16px;
    padding-left: 45px;
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: "Roboto", sans serif;
}

input.image-url {
    background: rgba(255, 255, 255, 0.4) no-repeat scroll 16px 20px;
    padding-left: 45px;
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    font-family: "Roboto", sans serif;
}

input.message {
    background: rgba(255, 255, 255, 0.4) no-repeat scroll 16px 16px;
    padding-left: 45px;
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    font-family: "Roboto", sans serif;
}

::-webkit-input-placeholder {
    color: #fff;
    font-family: "Roboto", sans serif;
}

:-moz-placeholder {
    color: #fff;
    font-family: "Roboto", sans serif;
}

::-moz-placeholder {
    color: #fff;
    font-family: "Roboto", sans serif;
}

:-ms-input-placeholder {
    color: #fff;
    font-family: "Roboto", sans serif;
}

input:focus, textarea:focus {
    background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    overflow: hidden;
}

.btn {
    width: 150px;
    height: 50px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: right;
    border: 1px solid #253737;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#6da5a3), to(#416b68));
    background: -webkit-linear-gradient(top, #6da5a3, #416b68);
    background: -moz-linear-gradient(top, #6da5a3, #416b68);
    background: -ms-linear-gradient(top, #6da5a3, #416b68);
    background: -o-linear-gradient(top, #6da5a3, #416b68);
    background-image: -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%);
    padding: 10.5px 21px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    align-items: center;
    margin: 5px;
}

    .btn:hover {
        border: 1px solid #253737;
        text-shadow: #333333 0 1px 0;
        background: #416b68;
        background: -webkit-gradient(linear, left top, left bottom, from(#77b2b0), to(#416b68));
        background: -webkit-linear-gradient(top, #77b2b0, #416b68);
        background: -moz-linear-gradient(top, #77b2b0, #416b68);
        background: -ms-linear-gradient(top, #77b2b0, #416b68);
        background: -o-linear-gradient(top, #77b2b0, #416b68);
        background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
        color: #fff;
    }

    .btn:active {
        margin-top: 1px;
        text-shadow: #333333 0 -1px 0;
        border: 1px solid #253737;
        background: #6da5a3;
        background: -webkit-gradient(linear, left top, left bottom, from(#416b68), to(#416b68));
        background: -webkit-linear-gradient(top, #416b68, #609391);
        background: -moz-linear-gradient(top, #416b68, #6da5a3);
        background: -ms-linear-gradient(top, #416b68, #6da5a3);
        background: -o-linear-gradient(top, #416b68, #6da5a3);
        background-image: -ms-linear-gradient(top, #416b68 0%, #6da5a3 100%);
        color: #fff;
        -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
        -moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
        box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    }


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}


ul {
    list-style-type: none;
}

#boatGallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 8vw);
    grid-gap: 2rem;
    width: 100%;
    height: 90%;
}

.container h4 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: white;
}

    .container h4 a {
        color: white;
    }

.grid-item, img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}





